// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    font-family: $fontText;
    h1,h2,h3,h4,h5,h6{
        font-family: $fontTitle;
    }
}


.formContainerAdmin{
    width: 100%;
    background-color: white;
    padding: 30px 0px;
    border-top:2px solid #e4e6ec;
    overflow-x:hidden;
    max-height: 90%;
}
.confirmDelete{
    display: flex;
    flex-direction: row;
    input{
        margin: 30px 0px;
        width: 60px;
        text-align: center;
    }
    a{
        margin: 30px 20px;
        width: 60px;
        text-align: center;
    }
}

.title-profile{
    border-bottom: 2px solid black;
}

.profile-hr{
    margin:0 !important;
    border: 1px solid black !important;
}
.profile-vr{
    border-left: 1.5px solid black;
}